@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;

  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.icon {
  fill: white;
}

.sidebar {
  background-color: #166534;
  grid-column: 1/2;
  grid-row: 1/-1;

  padding: 10px;
}

.sidebar-heading {
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

.sidebar-heading svg {
  height: 50px;
  width: 50px;
}

.navbar {
  padding: 10px;
  margin-bottom: 40px;
}

.sidebar-menu {
  padding: 10px;
}

.navbar svg,
.sidebar-menu svg {
  height: 20px;
  width: 20px;
}

.navbar ul li,
.sidebar-menu ul li {
  color: white;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.header {
  background-color: white;
  grid-column: 2/3;
}

.main-content {
  background-color: #6b7280;
}
